{{log this}}
{{#any this.sort.sortableFacets.length this.filters.filterableFacets.length}}
  <header class="webkite-results-header">
    {{>sorts this.sort~}}
    {{>filters this.filters}}
  </header>
{{/any}}

<div class="webkite-results-wrapper">
  {{#if items.length}}
    {{#each this.items~}}
      <section class="webkite-result webkite-block">
      
        {{#any (find facets name="Meal") (find facets name="Diet")}}
          <div class="webkite-result-header">
            {{#facet name="Meal"}}
              <div class="webkite-meal">
                {{#if filterable}}
                  <a href="#" class="webkite-add-filter" data-facet="{{name}}" data-operator="is" data-value="{{displayValue}}">{{downcase displayValue}}</a>
                {{else}}
                  {{downcase displayValue}}
                {{/if}}
              </div>
            {{/facet}}
      
            {{#facet name="Diet"}}
              <div class="webkite-diet">
                {{#if filterable}}
                  <a href="#" class="webkite-add-filter" data-facet="{{name}}" data-operator="is" data-value="{{displayValue}}">{{downcase displayValue}}</a>
                {{else}}
                  {{downcase displayValue}}
                {{/if}}
              </div>
            {{/facet}}
          </div>
        {{/any}}
  
        <div class="webkite-block full">
          <div class="webkite-block seventy">
            {{#facet name="Item Name"}}<h2>{{displayValue}}</h2>{{/facet}}
            {{#facet name="Price"}}<h3 class="xs-price xs-only" title="{{displayValue}}">{{displayValue}}</h3>{{/facet}}
            {{#facet name="Description"}}<p class="webkite-description">{{displayValue}}</p>{{/facet}}
          </div><!--
       --><div class="webkite-block thirty price">
            {{#facet name="Price"}}<h3 class="until-xs" title="{{displayValue}}">{{displayValue}}</h3>{{/facet}}
            {{#any (find facets name="Meal") (find facets name="Dish Type") (find facets name="Diet") (find facets name="Calories") (find facets name="Total Fat (g)") (find facets name="Cholesterol (mg)")}}
              <a href="#{{this.id}}" data-id={{this.id}} class="webkite-toggle-item webkite-toggle {{this.id}}-toggler{{#if showDetails}} webkite-hide{{/if}} more-button" data-target=".{{this.id}}-toggler" data-speed="200ms">more</a>
              <a href="#{{this.id}}" data-id={{this.id}} class="webkite-toggle-item webkite-toggle {{this.id}}-toggler{{#unless showDetails}} webkite-hide{{/unless}} less-button" data-target=".{{this.id}}-toggler" data-speed="200ms">less</a>
            {{/any}}
          </div>
        </div>
            
        <div id="{{this.id}}" class="webkite-block full webkite-item-details">
          <div class="webkite-block sixty">
            <ul class="webkite-list-grid">
              {{#facet name="Meal"}}
                <li>
                  {{#if filterable}}
                    <div>
                    <b class="inline-filter-button">
                      <a class="webkite-toggle" data-target=".{{../../id}}-{{parameterize name}}-menu">{{downcase name}}<i></i></a>
                      <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
                        {{#each filterableValues}}
                          <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{parameterize ../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
                        {{/each}}
                      </ul>
                    </b>
                    </div>
                    <span class="facet-values">
                      <a href="#" class="webkite-add-filter" data-facet="{{name}}" data-operator="is" data-value="{{displayValue}}">{{displayValue}}</a>
                    </span>
                  {{else}}
                    <div><b>{{downcase name}}</b></div>
                    <span class="facet-values">{{displayValue}}</span>
                  {{/if}}
                </li>
              {{/facet}}
              
              {{#facet name="Dish Type"}}
                <li>
                  {{#if filterable}}
                    <div>
                    <b class="inline-filter-button">
                      <a class="webkite-toggle" data-target=".{{../../id}}-{{parameterize name}}-menu">{{downcase name}}<i></i></a>
                      <ul class="{{../../id}}-Dish-Type-menu inline-filter-menu webkite-hide webkite-menu">
                        {{#each filterableValues}}
                          <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{parameterize ../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
                        {{/each}}
                      </ul>
                    </b>
                    </div>
                    <span class="facet-values">
                      <a href="#" class="webkite-add-filter" data-facet="{{name}}" data-operator="is" data-value="{{displayValue}}">{{displayValue}}</a>
                    </span>
                  {{else}}
                    <div><b>{{downcase name}}</b></div>
                    <span class="facet-values">{{displayValue}}</span>
                  {{/if}}
                </li>
              {{/facet}}
              
              {{#facet name="Diet"}}
                <li>
                  {{#if filterable}}
                    <div>
                    <b class="inline-filter-button">
                      <a class="webkite-toggle" data-target=".{{../../id}}-{{parameterize name}}-menu">{{downcase name}}<i></i></a>
                      <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
                        {{#each filterableValues}}
                          <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{parameterize ../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
                        {{/each}}
                      </ul>
                    </b>
                    </div>
                    <span class="facet-values">
                      <a href="#" class="webkite-add-filter" data-facet="{{name}}" data-operator="is" data-value="{{displayValue}}">{{displayValue}}</a>
                    </span>
                  {{else}}
                    <div><b>{{downcase name}}</b></div>
                    <span class="facet-values">{{displayValue}}</span>
                  {{/if}}
                </li>
              {{/facet}}
            </ul>
          </div><!--
       --><div class="webkite-block forty webkite-menu-nutrition">
            <ul class="webkite-list-plain">
              {{#facet name="Calories"}}
                <li>{{displayValue}} cal</li>
              {{/facet}}
              
              {{#facet name="Total Fat (g)"}}
                <li>{{displayValue}} g total fat</li>
              {{/facet}}
              
              {{#facet name="Cholesterol (mg)"}}
                <li>{{displayValue}} mg cholesterol</li>
              {{/facet}}
            </ul>
          </div>
        </div><!-- webkite-item-details -->
        
      </section>
    {{~/each~}}
  
  {{else}}
    <section class="webkite-no-results">
      <h2>Sorry, no results</h2>
      <p>There are no results to display based on the selected filters. Try removing a filter to see more results.</p>
    </section>
    
  {{/if}}
</div>

<footer class="webkite-results-footer">
  <div class="webkite-branding-area"><a></a></div>
  <div class="webkite-pagination-area">{{>paginator pagination}}</div>
</footer>
